<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Me</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2><u>*About Me</u></h2>
    <p class="bio">
        <h3>till 10th standard </h3>
        Hi! I am <strong>Tanmay Yogesh Korate</strong> from Yevti, Tq Morshi, Dist Amravati.  
        I have completed my schooling from <strong>Shri Shivaji Higher Secondary School, Morshi</strong>,  
        securing <strong>94%</strong> in 10th standard.  
        </p>
        <p class="bio">
            <h3>Diploma life: </h3>
              <div class="profile-pic">
              <img src="static\about.jpg" alt="My Photo">
              <img src="static\2ndabout.jpg" alt="My Photo">
        </div>
            <p>
        Later, I pursued my diploma in <strong>Computer Science Engineering (CSE)</strong> from  
        <strong>Government Polytechnic, Amravati</strong> and completed it with <strong>91.8%</strong>.  
        I am passionate about <strong>web development</strong> and <strong>Python programming</strong>.
    </p>

    <div class="skills">
        <h3>Technical Experties</h3>
        <ul>
            <li>Programming Languages: Python, C, C++</li>
            <li>Web Development: HTML, CSS, Java</li>
            <li>Backend Development: Flask, </li>
            <li>Database: MySQL</li>
            <li>Other Skills: Debugging, Problem Solving</li>
        </ul>
    </div>

    <div class="contact">
        <a href="/" class="button">Back to Home</a>
    </div>
</div>
</body>
</html>
